<div class="container pt-5">
    <div class="row">
{{#each files}}
    <div class="col-4 col-md-3 pb-1 px-1">
        <a download href="/files/images/{{this}}">
            <img src="/files/images/{{this}}" class="img-fluid bg-light">
        </a>
    </div>
{{/each}}
</div>

</div>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input accept="image/*" type="file" onchange="this.form.submit()" name="file" multiple="" id="customFile">
        <label class="label1 shadow btn-danger" for="customFile"><i class="fa fa-plus"></i></label>
    </form>