<div class="container pt-5">
        <div class="row">
          <div class="col-12">
            {{{ msg}}}
          </div>
          <div class="col-sm-12 col-md-3">
            <a class="card bg-dark text-light p-3 mt-3" href="imagenes"><h5><i class="fa fa-folder"></i> Imágenes</h5></a>
          </div>
          <div class="col-sm-12 col-md-3">
            <a class="card bg-dark text-light p-3 mt-3" href="videos">
              <h5><i class="fa fa-folder"></i> Vídeos</h5>
            </a>
          </div>

          <div class="col-sm-12 col-md-3">
            <a class="card bg-dark text-light p-3 mt-3" href="http://192.168.0.111:3000/files"><h5><i class="fa fa-folder"></i> Programas</h5></a>
          </div>

          <div class="col-sm-12 col-md-3">
            <a class="card bg-dark text-secondary p-3 mt-3" href="#"><h5><i class="fa fa-folder"></i> Audios</h5></a>
          </div>

          <div class="col-sm-12 col-md-3">
            <a class="card bg-dark text-secondary p-3 mt-3" href="#"><h5><i class="fa fa-folder"></i> Archivos</h5></a>
          </div>
        </div>
          {{!-- <div class="col-sm-12 mt-3"> --}}

          {{!-- <?php include("post_method.php")?>

                  echo "
          <div class='alert alert-success alert-dismissible fade show' role='alert'>
          <strong>Archivo ".$filename." guardado con exito.</strong>
          </div>";
      }
      else
      {//archivo no se pudo guardar
        echo "
        <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>archivo ".$filename." no se pudo guardar</strong>
        </div>"; --}}
          </div>
        </div>
</div>