
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <a class="card bg-darky text-light p-3 mt-3" href="files.php?type=imagenes"><h5><i class="fa fa-folder"></i> Imágenes</h5></a>
          </div>

          <div class="col-sm-12 col-md-3">
            <a class="card bg-darky text-light p-3 mt-3" href="files.php?type=videos">
              <h5><i class="fa fa-folder"></i> Vídeos</h5>
            </a>
          </div>

          <div class="col-sm-12 col-md-3">
            <a class="card bg-darky text-light p-3 mt-3" href="files.php?type=audios"><h5><i class="fa fa-folder"></i> Audios</h5></a>
          </div>

          <div class="col-sm-12 col-md-3">
            <a class="card bg-darky text-light p-3 mt-3" href="files.php?type=archivos"><h5><i class="fa fa-folder"></i> Archivos</h5></a>
          </div>
          <div class="col-sm-12 mt-3">
          {{!-- <?php include("post_method.php")?>

                  echo "
          <div class='alert alert-success alert-dismissible fade show' role='alert'>
          <strong>Archivo ".$filename." guardado con exito.</strong>
          </div>";
      }
      else
      {//archivo no se pudo guardar
        echo "
        <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>archivo ".$filename." no se pudo guardar</strong>
        </div>"; --}}
          </div>
        </div>