<body>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Thoriumedia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="/img/logo.ico" type="image/x-icon">
    <style type="text/css">
   .bg-darky { background: rgb(18, 18, 18) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
   .bg-dark { background: black !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
</head>
<header class="pb-2">
    <nav class="navbar fixed-top bg-darky border-bottom shadow">
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <div class=" navbar-brand ">
                        <a href="/">
                            <img src="img/thoriumedia.png" width="30" height="30" class="" alt="">
                            <b class="text-light">| Thoriumedia</b>
                        </a>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
    </nav>
</header>
<body class="bg-dark">
    <main class="container pt-5">
        {{{ body }}}
    </main>
</body>
    <form method="POST" action="" enctype="multipart/form-data">
        <input type="file" onchange="this.form.submit()" name="archivo[]" multiple="" id="customFile">
        <label class="label1 shadow btn-primary" for="customFile"><i class="fa fa-plus"></i></label>
    </form>

<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-darky">
        <div class="container">
            <form>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">agregar</button>
            </form>
        </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="j/custom.js"></script>
</html>